h1{
  background-color: rgb(4, 99, 177);
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px; 
  margin: auto;
  padding: 6px;
  text-align: left;
}

body {
  display: flex;
  background-color: antiquewhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 10px;
}

.book-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-content: center;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding: 25px
}

.add-btn {
  padding: 6px;
  margin: 2px;
  margin-top: 90vh;
  position: absolute;
}

.popup {
  display: none;
  padding: 10px;
  margin-top: 300px;
  position: absolute;
}