*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

body {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: darkcyan;
  height: 35px;
  color: aliceblue;
  font-size: 20px;
}

.left {
  display: flex;
  justify-content: space-around;
  width: 110px;
}

.right {
  display: flex;
  justify-content: space-around;
  width: 110px;
}

.right button {
  font-size: 20px;
  width: 110px;
  border: none;
  border-radius: 50%;
  background: none;
  color: aliceblue;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s, color 0.4s;
}

.right button:hover {
  background-color: aqua;
  color: black;
  width: 110px;
  border-radius: 50%;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.popup-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  height: 250px;
  width: 250px;
}