*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Acme', sans-serif;
}
body {
  background-color: tan;
}

.nav-bar {
  display: flex;
  width: 100vw;
  height: 60px;
  background-color: aqua;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid brown 7px;
}

.nav {
  font-size: 35px;
  padding: 10px;
}

.right {
  cursor: pointer;
  transition: ease-in 0.15s;
  border-radius: 50px;
}

.right:hover {
  background-color: darkcyan;
  border-radius: 50px;
  transition: ease-in 0.15s;
}

.book-shelf {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 20px;
}

.book {
  width: 125px;
  height: 175px;
  border: solid black;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: khaki;
  border-radius: 10px;
  position: relative;
}

.book div {
  min-height: 18px;
  width: 94px;
  overflow-wrap: wrap;
  padding-left: 5px;
}

.book-title {
  font-weight: 800;
}

.book-delete {
  width: 20px;
  bottom: 5px;
  right: 5px;
  position: absolute;
}

.book-author {
}

.book-pages {
}

.book-status {
}

.form {
  display: none;
  position: absolute;
  margin: auto;
  flex-direction: column;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  background-color: tan;
  border: solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
}

.radio-span {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  text-align: right;
}

.submit-form {
  width: 70px;
  height: 25px;
}

.active {
  display: flex;
}
